 <h2><%= @restaurant.name %></h2>
    <ul>
      <li>Address: <%= @restaurant.address %></li>
      <li>Category: <%= @restaurant.category %></li>
      <li>Phone Number: <%= @restaurant.phone_number %></li>
      <li><%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %></li>
    </ul>
